body{
	font-family:$f_regular;
	font-size:15px;
	color:$body_color;

	max-width:100%;
	width:100%;
	overflow-x:hidden;
	
	line-height:1.5;
	position:relative;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;

}
.h1, .h2, .h3, .h4, .h5, .h6, 
h1, h2, h3, h4, h5, h6{	
	margin-bottom:0px;		
}
img{ max-width:100%;  }  
a{
	color:$mau;
	text-decoration:none;

	&:hover,
	&:focus{
		text-decoration:none;
	}

	&:hover{
		color:$mau_dam;
	}	
}
a{
	figure{
		overflow: hidden;
		position: relative;    
		margin: 0; 
		div{
			-webkit-transition:all 0.5s linear;transition:all 0.5s linear;-webkit-transform:scale3d(1, 1, 1);transform:scale3d(1, 1, 1);
		}
	}
	&:hover{
		figure{
			div{
				-webkit-transform:scale3d(1.2, 1.2, 1);transform:scale3d(1.2, 1.2, 1);
			}
		}
	}
}
.clr{
	clear: both;
}
/* start callnow */
.callnow-circle-fill{
	width: 40px;
	height: 40px;
	top: 41px;
	left: 12px;
}
.callnow-circle{
	width: 65px;
	height: 65px;
	top: 28px;
	left: 0;
}
.callnow-img-circle{
	width: 30px;
	height: 30px;
	top: 46px;
	left: 17px;
}
  /* end callnow */
  .aligncenter{  	
  	display: block;
  	margin-left: auto;
  	margin-right: auto;  	
  }

/* begin note */
.note-danger {
	background-color: #fef7f8;    
	border-left: 5px solid #f0868e;    
}
.note-success {
	background-color: #c0edf1;    
	border-left: 5px solid #58d0da;
}
.note {   
	padding: 15px 15px 15px 15px;
	margin-top: 15px;
	display: none;        
	color: #000;
	text-transform: uppercase;
}
/* end note */
.ajax_loader{
	background-image: url(../img/ajax-loader.gif);
	background-repeat: no-repeat;    
	width: 16px;
	height: 16px;
	margin: 15px auto 0 auto;    
	display: none;

}
.ajax_loader_contact{
	background-image: url(../img/ajax-loader.gif);
	background-repeat: no-repeat;    
	width: 16px;
	height: 16px;
	margin-top:10px;
	margin-left: 15px;    
	display: none;
	float: left;

}
.page-numbers{
	list-style: none;
	margin-bottom: 0;
	margin-left: 0px;
	padding-left: 0;
	li{		
		float: left;
		margin-right: 5px;
		span{
			display: block;
			&.current{
				background-color: $logo_bg;
				padding: 2px 11px;
				border-radius: 5px;
				color: #ffffff;
			}			
		}
		a{
			display: block;
			background-color:#d8d8d8;
			padding: 2px 10px;
			border-radius: 5px;
			color: #ffffff;
			@include p-web(transition , all 0.5s);
			&:hover{
				background-color: $logo_bg;
			}
		}
	}
}
/* start pan search */
.pan_search{
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.8);
	display: none;
	z-index: 3;
	.pan_close{
		position: absolute;
		top: 0;
		right:10px;
		a{
			color: #ffffff;
			font-family: $f_bold;
			font-size: 30px;    	
		}
	}
	.frmsearcharticle{
		position: absolute;
		top: 50%;
		left: 50%;
		width: 800px;
		height: 80px;
		margin-top: -40px;
		margin-left: -400px;
		border-top: 1px solid #e1e1e1;
		border-bottom:1px solid #e1e1e1;	
		.vatimkiem{
			width: 90%;
			height: 100%;
			.txt_search{
				color: #fff;
				background: transparent;
				border: none;
				font-size: 40px;
				font-family: $f_regular;
				font-weight: 300;
				text-align: center;
				outline: none;
				padding: 10px;
				width: 100%;
				height: 100%;

			}
		}
		.btnsearch{
			position: absolute;
			right: 15px;
			top: 0;
			height: 100%;
			a{
				display: flex;
				height: 100%;
				align-items:center;
				jutify-content:center;				
			}
		}		
	}	
}
/* end pan search */