.mobile_navbar{
	position: absolute;
	top:22px;
	left: 0;
	width: 100%;
	z-index: 2;
	.bg-light{
		background:transparent !important; 
		.navbar-toggler{
			border:0;		
		}
		.navbar-nav{
			a{
				color: #fff;		
				display: block;
				padding: 10px 10px;	
				text-transform: uppercase;    
			}	
		} 
		.navbar-collapse{
			background-color:$logo_bg ;
			margin-top:40px;
		}
		.sub-menu{
			list-style: none;
		}
	}
	.navbar{
		padding: 0
	}
	.navbar-light{
		.navbar-toggler-icon{
			background-image: url('../img/nav-line.png');
		}
	}
}
