.scrollTop {
 position: fixed;
 right: 7%;
 bottom:30px;
 opacity: 0;
 transition: all 0.4s ease-in-out 0s;
 z-index:999;
 a {
   font-size: 25px;
   color: #141414;
   background-color: $logo_bg;
   padding: 0px 11px 1px 11px;
   display: block;
   border-radius: 18px;
   @include p-web(transition,all 0.5s);
   &:hover{
    background-color: darken($logo_bg,10%);
   }
 }
}
