// ---------------------------------------
// Add var
// ---------------------------------------
/* begin standard */
$mau:#272727; 
$mau_dam:darken($mau,5%);
$body_color:#797979;
$menu_color_hover_active:#9d6e18;
$menu_color:#5a5a5a;
$footer_facebook_social:#3b5998;
$footer_youtube_social:#be0a0a;
$footer_twitter_social:#45b0e4;
$footer_google_plus_social:#dd4b39;
/* end standard */
$color_1:#272727;
$color_2:#bbbbbb;
$logo_bg:#f89431;
$logo_bg_2:#ef0f29;
$ddsmoothmenu_border:#da7a1b;
$tt_color_do:#ff0000;
$tt_color_cam:#f7941d;
$bg_product:#f8f8f8;




